.header-container {
    height:800px;
    position:relative;
    background-image: url('../../../images/chair-bg.png');
    background-size: contain;
    z-index: 1;
}
.header-container::after {
    height: 700px;
    content:' ';
    position: absolute;
    top: 0;
    width: 33%;
    right: 0;
    background-color: #3A4256;
    z-index: -1;
}
.main-button{
    color: white;
    background: linear-gradient(90deg, #18D3B8, #4EDCEC);
}